## Pandas Tips and Tricks lectures
---
This notebook will have all the tips and tricks of Pandas library
---
This Tips and Trips are from codanics
---
[Tips and Trics of Pandas @ Codanics](https://codanics.com/mastering-the-pandas-library/)

In [2]:
#check Version
import pandas as pd

print(pd.__version__)

#another way of checking Version
import pandas as pd

pd.show_versions()

2.1.1

INSTALLED VERSIONS
------------------
commit              : e86ed377639948c64c429059127bcf5b359ab6be
python              : 3.12.0.final.0
python-bits         : 64
OS                  : Windows
OS-release          : 11
Version             : 10.0.22621
machine             : AMD64
processor           : Intel64 Family 6 Model 158 Stepping 9, GenuineIntel
byteorder           : little
LC_ALL              : None
LANG                : None
LOCALE              : English_Canada.1252

pandas              : 2.1.1
numpy               : 1.26.1
pytz                : 2023.3.post1
dateutil            : 2.8.2
setuptools          : 68.0.0
pip                 : 23.3
Cython              : None
pytest              : None
hypothesis          : None
sphinx              : None
blosc               : None
feather             : None
xlsxwriter          : None
lxml.etree          : None
html5lib            : None
pymysql             : None
psycopg2            : None
jinja2              : None
IPython             : 8.16.1
pandas_datareader   : None
bs4                 : None
bottleneck          : None
dataframe-api-compat: None
fastparquet         : None
fsspec              : None
gcsfs               : None
matplotlib          : None
numba               : None
numexpr             : None
odfpy               : None
openpyxl            : 3.1.2
pandas_gbq          : None
pyarrow             : None
pyreadstat          : None
pyxlsb              : None
s3fs                : None
scipy               : None
sqlalchemy          : None
tables              : None
tabulate            : None
xarray              : None
xlrd                : None
zstandard           : None
tzdata              : 2023.3
qtpy                : None
pyqt5               : None

In [7]:
#How to make a data farme
import pandas as pd

data = {'Name': ['John', 'Jane', 'Mike'],
        'Age': [25, 30, 35],
        'City': ['New York', 'London', 'Paris']}

df = pd.DataFrame(data)

df

   Name  Age      City
0  John   25  New York
1  Jane   30    London
2  Mike   35     Paris

In [14]:
#Create a numpy dataframe
import numpy as np

df = pd.DataFrame(np.random.randn(4, 3), columns=['a', 'b', 'c'])

df

          a         b         c
0 -0.709498 -0.470396  0.197305
1  1.438119  0.931635  1.866544
2 -1.897971 -0.703361  0.640657
3  1.348739  1.281594 -0.030567

In [15]:
#Create a dictionary
df

          a         b         c
0 -0.709498 -0.470396  0.197305
1  1.438119  0.931635  1.866544
2 -1.897971 -0.703361  0.640657
3  1.348739  1.281594 -0.030567